.manager-container {
    padding: 20px;
    text-align: center;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
}

.orders-table th, .orders-table td {
    border: 1px solid var(--tg-theme-hint-color);
    padding: 8px;
    text-align: left;
}

.orders-table th {
    background-color: var(--tg-theme-bg-color);
}

.status-processing {
    background-color: rgb(223, 154, 27);
    color: var(--tg-theme-text-color);
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgb(223, 154, 27);
}

.status-completed {
    background-color: rgb(8, 122, 8);
    color: var(--tg-theme-text-color);
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgb(8, 122, 8);
}

.status-cancelled {
    background-color: rgb(214, 9, 9);
    color: var(--tg-theme-text-color);
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgb(214, 9, 9);
}

select {
    border-radius: 10px;
    padding: 8px 13px;
}


.status-processingOpt {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-weight: 700;
    font-size: 16px;
    border: none;
}

.status-completedOpt {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-weight: 700;
    font-size: 16px;
    border: none;
}

.status-cancelledOpt {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-weight: 700;
    font-size: 16px;
    border: none;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
}